init-author-name=Lacy Morrow
init-author-email=me@lacymorrow.com
init-author-url=http://lacymorrow.com/
init-license=MIT
package-lock=false

//registry.npmjs.org/:_authToken=26be6b3e-e476-486b-b173-c8e434dc0f5b